@charset "utf-8";

* {
    margin: 0 auto;
    padding: auto;
}

body {
    color: #333;
    font-family: "Noto Sans", "Noto Sans JP", sans-serif;
    font-size: 0.75rem;
}

a {
    color: #333;
}

.list-a{
    text-decoration: none;
    text-align: center;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.regulation{
    max-width: 1200px;
    padding: 0px 16px;
}

/* header */

header{
    margin-bottom: 40px;
}

header img{
    width: 145px;
    height: auto;
    padding: 30px 0px 20px;
}

header nav{
    background-color: #333333;
    padding: 16px 0px;
}

header nav ul{
    display: flex;
    justify-content: flex-start;
}

header nav ul li{
    margin: 0px 60px 0px 0px;
}

header nav ul li a{
    color: white;
}

/* contents-1 */

.contents-1 {
    display: flex;
    margin-bottom: 80px;
}

.contents-1 article:not(:last-child){
    margin-right: 24px;
}

.contents-1 article img{
    margin-bottom: 12px;
}

.contents-1 article h2{
    margin-bottom: 20px;
}

.contents-1 article a{
    display: block;
    text-align: center;
}

/* main */
.contents-2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

main{
    width: 66%;
}

main article{
    margin-bottom: 90px;
}

main article h2{
    margin-bottom: 20px;
}

main article ul{
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    margin-bottom: 12px;
}

main article ul li{
    margin: 0px 20px 0px 0px;
}

main article img{
    margin-bottom: 12px;
}

main article p{
    display: block;
    margin: 0px auto;
    width: 80%;
    margin-bottom: 34px;
}

main article a{
    display: block;
    text-align: center;
}

/* aside */

aside{
    width: 30%;
    margin-left: 4%;
}

aside section{
    margin-bottom: 60px;
}

.aside-name h3, .aside-ranking h3{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}

.aside-name img{
    display: block;
    width: 130px;
    height: auto;
    border-radius: 50%;
    margin: 0px auto 30px;
}

.aside-ranking{
    margin-bottom: 60px;
}

.aside-ranking article{
    margin-bottom: 30px;
}

.aside-ranking h4{
    font-weight: normal;
}

.aside-list h3{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 40px;
}

.aside-list li{
    padding: 23px 0px;
    border-top: solid 1px #333;
}

.aside-list li:last-child{
    border-bottom: solid 1px #333;
}


/* footer */
footer{
    background-color: #F7F7F7;
    padding: 50px 0px 88px;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-flex section{
    width: 30%;
}

.footer-flex section:not(:last-child){
    margin-right: 4%;
}

.footer-flex h3{
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.footer-flex p{
    margin-bottom: 16px;
}

.footer-flex li{
    display: block;
    margin-bottom: 14px;
}

.footer-flex ul{
    padding: 0px;
}

.footer-about a{
    position: relative;
    display: inline-block;
    padding-left: 12px;
    color: #333;
}

.footer-about a::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #333;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
}

.footer-menu li{
    padding: 20px 0px;
    border-top: solid 1px #333;
}

.footer-menu li:last-child{
    border-bottom: solid 1px #333;
}

@media screen and (max-width: 768px){

    .contents-1, .contents-2, .footer-flex{
        flex-direction: column;
    }

    .footer-flex section{
        width: 100%;
        margin-right: 0px;
    }

    .contents-1 article:not(:last-child){
        margin-right: 0px;
        margin-bottom: 30px;
    }

    header nav{
        overflow: scroll;
    }
    
    main{
        width: 100%;
    }

    aside{
        width: 100%;
        margin-left: 0px;
    }

    .aside-list ul{
        padding: 0px 10px;
    }
    
}
